/* ----------Event Card---------- */
.EventCard {
  height: calc(100% - 50px);
  width: 100%;
  min-height: 650px;
  min-width: 400px;
  background-color: black;
  padding: 0px 20px 0px 20px;
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: center;   */
}

.eventcard-arrows {
  height: 25px;
  width: 25px;
  margin: 10px;
}

.eventcard-main {
  height: 80%;
  width: 90vw;
  max-width: 1200px;
  min-width: 400px;
  height: 550px;
  background-color: #1e1e1e;
  -webkit-box-shadow: 0px 0px 30px 5px #4b4b4b;
          box-shadow: 0px 0px 30px 5px #4b4b4b;
  border: 1px solid white;
  border-radius: 1%;
  margin: 20px;
  color: white;
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ec-flash-event {
  -webkit-box-shadow: 0px 0px 30px 15px red;
          box-shadow: 0px 0px 30px 15px red;
}

.ec-flash-cycle {
  -webkit-box-shadow: 0px 0px 30px 15px #828282;
          box-shadow: 0px 0px 30px 15px #828282;
}

.eventcard-image-container {
  border: 1px solid white;
  height: 100%;
  width: 50%;
  /* For Children */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px auto 25px;
      grid-template-rows: 40px auto 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eventcard-image-timestamp-container {
  border: 1px solid white;
  margin: 0px;
}

.eventcard-image-timestamp-container .eventcard-image-timestamp {
  font-size: 1rem;
  margin: 10px;
}

.eventcard-image {
  border: 1px solid white;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.eventcard-image-button-container {
  border: 1px solid white;
  margin: 0px;
}

.eventcard-image-button-container .eventcard-button {
  height: 100%;
  width: 50%;
  font-size: 1rem;
}

.eventcard-image-button-container .button-selected {
  background-color: #1e1e1e;
  color: white;
}

.eventcard-data-container {
  border: 1px solid white;
  height: 100%;
  width: 50%;
  /* For Children */
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 1px 1px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eventcard-source-container {
  border: 1px solid white;
  background-color: #3a3a3a;
  height: 40%;
  width: 98%;
  margin: 1%;
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.eventcard-source-info-container {
  border: 1px solid white;
  height: 100%;
  width: 80%;
  /* For Children */
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.eventcard-source-right-container {
  border: 1px solid white;
  height: 100%;
  width: 20%;
  /* For Children */
  padding: 0px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eventcard-eventId-container {
  width: 100%;
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.eventcard-userInput-container {
  border: 1px solid white;
  background-color: #3a3a3a;
  height: 55%;
  width: 98%;
  margin: 1%;
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eventcard-userInput-info-container {
  border: 1px solid white;
  height: 80%;
  width: 100%;
}

.eventcard-userInput-button-container {
  border: 1px solid white;
  height: 20%;
  width: 100%;
}

.eventcard-source-label {
  width: 35%;
  text-align: right;
  padding-right: 10px;
}

.eventcard-eventData {
  /* border: $border; */
  width: 65%;
  padding-left: 10px;
}

.eventcard-button {
  height: 20px;
  width: 90px;
  /* margin: 0 auto; */
  font-size: 0.5em;
  font-weight: 600;
}

.eventcard-userInput-selectIcon {
  height: 40%;
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eventcard-userInput-label {
  width: 100%;
  font-size: 0.9rem;
  text-align: left;
  border-top: 1px solid gray;
  padding-left: 10px;
}

.eventcard-icon-container {
  height: 95%;
  width: auto;
}

.eventcard-icon-image {
  height: 80%;
  max-width: 100%;
}

.eventcard-icon-image-selected {
  background-color: red;
  border-radius: 15%;
  height: 80%;
  max-width: 100%;
}

.eventcard-icon-label {
  font-size: 1rem;
  position: relative;
  bottom: 5px;
  text-align: center;
}

.eventcard-userInput-button-container {
  /* For Children */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---------- Media Quieries ----------*/
@media (max-width: 1200px) {
  .eventcard-main {
    height: 400px;
  }
  .eventcard-image {
    max-height: 325px;
  }
  .eventcard-data-container {
    font-size: 0.8rem;
  }
  .eventcard-button {
    width: 70px;
  }
  .eventcard-userInput-label {
    font-size: 0.6rem;
  }
}

@media (max-width: 1000px) {
  .eventcard-main {
    height: 400px;
  }
  .eventcard-image {
    max-height: 325px;
  }
  .eventcard-data-container {
    font-size: 0.8rem;
  }
  .eventcard-button {
    width: 50px;
  }
  .eventcard-userInput-label {
    font-size: 0.6rem;
  }
}

@media (max-width: 700px) {
  .eventcard-main {
    height: 400px;
  }
  .eventcard-image-container {
    -ms-grid-rows: 40px auto 70px;
        grid-template-rows: 40px auto 70px;
  }
  .eventcard-image {
    max-height: 325px;
  }
  .eventcard-image-button-container .eventcard-button {
    height: 20px;
    font-size: 0.8rem;
  }
  .eventcard-data-container {
    font-size: 0.7rem;
  }
  .eventcard-source-info-container {
    width: 70%;
  }
  .eventcard-source-right-container {
    width: 30%;
  }
  .eventcard-source-right-container .eventcard-button {
    height: 40px;
  }
  .eventcard-button {
    width: 50px;
    height: 20px;
    font-size: 0.5em;
  }
  .eventcard-userInput-label {
    font-size: 0.5em;
  }
  .eventcard-icon-label {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .eventcard-image-container {
    -ms-grid-rows: 40px auto 70px;
        grid-template-rows: 40px auto 70px;
  }
  .eventcard-image {
    max-height: 325px;
  }
  .eventcard-image-button-container .eventcard-button {
    height: 20px;
    font-size: 0.8rem;
  }
  .eventcard-data-container {
    font-size: 0.5em;
  }
  .eventcard-source-info-container {
    width: 65%;
  }
  .eventcard-source-right-container {
    width: 35%;
  }
  .eventcard-source-right-container .eventcard-button {
    margin: 5px;
    height: 40px;
  }
  .eventcard-source-right-container .eventcard-eventData, .eventcard-source-right-container .eventcard-label {
    font-size: 0.7rem;
  }
  .eventcard-button {
    width: 50px;
    height: 20px;
    font-size: 0.5em;
  }
  .eventcard-userInput-label {
    font-size: 0.5em;
  }
  .eventcard-icon-label {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=eventcard.css.map */